<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>DeleteBuildingServlet</servlet-name>
        <servlet-class>com.arch.servlet.DeleteBuildingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteBuildingServlet</servlet-name>
        <url-pattern>/DeleteBuilding.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BaseInfoSave</servlet-name>
        <servlet-class>com.arch.servlet.BaseInfoSaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BaseInfoSave</servlet-name>
        <url-pattern>/baseInfoSave.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PicInfoSave</servlet-name>
        <servlet-class>com.arch.servlet.PicInfoSaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PicInfoSave</servlet-name>
        <url-pattern>/picInfoSave.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VideoInfoSave</servlet-name>
        <servlet-class>com.arch.servlet.VideoInfoSaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VideoInfoSave</servlet-name>
        <url-pattern>/videoInfoSave.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DocumentInfoSave</servlet-name>
        <servlet-class>com.arch.servlet.DocumentInfoSaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DocumentInfoSave</servlet-name>
        <url-pattern>/documentInfoSave.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DrawingInfoSave</servlet-name>
        <servlet-class>com.arch.servlet.DrawingInfoSaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DrawingInfoSave</servlet-name>
        <url-pattern>/drawingInfoSave.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>com.arch.servlet.UploadFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/file/upload.do</url-pattern>
    </servlet-mapping>
</web-app>